<a href="https://colab.research.google.com/github/IdaSharonJ/Python-exercises/blob/main/25AUG(1)_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime

**DATA** **FRAMES**

In [3]:
students = ['Naresh', 'Ajay', 'Harish', 'Yusuf']

In [5]:
scores = [87, 83, 93, 82]

In [6]:
exam_results = pd.DataFrame(
    {
        "name": students,
        "scores": scores
    }
)

In [7]:
exam_results

     name  scores
0  Naresh      87
1    Ajay      83
2  Harish      93
3   Yusuf      82

**SEARCHING**

In [8]:
exam_results.loc[0, 'scores']

87

In [9]:
exam_results.loc[:, 'scores']

0    87
1    83
2    93
3    82
Name: scores, dtype: int64

In [10]:
exam_results.loc[2, :]

name      Harish
scores        93
Name: 2, dtype: object

**ADD COUMNS**

In [14]:
age = [24,23,20,22]
gender = ['male','male','male','male']

In [15]:
exam_results['age'] = age
exam_results['gender'] = gender
exam_results

     name  scores  age gender
0  Naresh      87   24   male
1    Ajay      83   23   male
2  Harish      93   20   male
3   Yusuf      82   22   male

In [17]:
exam_results.drop('gender', axis=1)

     name  scores  age
0  Naresh      87   24
1    Ajay      83   23
2  Harish      93   20
3   Yusuf      82   22

**COLUMN NAMES AND ROW INDEX**

In [18]:
exam_results.columns

Index(['name', 'scores', 'age', 'gender'], dtype='object')

In [19]:
exam_results.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
exam_results.rename({'name': 'name of the student'}, axis=1)

  name of the student  scores  age gender
0              Naresh      87   24   male
1                Ajay      83   23   male
2              Harish      93   20   male
3               Yusuf      82   22   male

**DEALING WITH MISSING VALUES**

In [21]:
sparse = pd.DataFrame({'a': [1, 2, 3],
                       'b': [np.nan, 4, np.nan],
                       'c': [5, np.nan, np.nan]})

In [22]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [23]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [24]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [25]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

**GROUP BY**

In [26]:
exam_results.groupby('gender').mean()

        scores    age
gender
male     86.25  22.25

In [27]:
mylist = [1,2,1,2]

exam_results.groupby(mylist).get_group(1)

     name  scores  age gender
0  Naresh      87   24   male
2  Harish      93   20   male

In [28]:
exam_results.groupby(mylist).get_group(2)

    name  scores  age gender
1   Ajay      83   23   male
3  Yusuf      82   22   male

In [30]:
above_85 = exam_results['scores'] > 85
above_85

0     True
1    False
2     True
3    False
Name: scores, dtype: bool

In [31]:
exam_results.groupby(above_85).mean()

        scores   age
scores
False     82.5  22.5
True      90.0  22.0

**MERGING AND JOINING**

In [35]:
contacts = pd.DataFrame(
    {
        'name' : ['Harish', 'Naresh'],
        'tel'  : ['+44 1234 5678', '+44 3245 5564']
    }
)

In [36]:
exam_results.merge(contacts, left_on='name', right_on='name')

     name  scores  age gender            tel
0  Naresh      87   24   male  +44 3245 5564
1  Harish      93   20   male  +44 1234 5678

In [37]:
exam_results.merge(contacts, left_on='name', right_on='name', how='outer')

     name  scores  age gender            tel
0  Naresh      87   24   male  +44 3245 5564
1    Ajay      83   23   male            NaN
2  Harish      93   20   male  +44 1234 5678
3   Yusuf      82   22   male            NaN